@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model PreventiveDetailsViewModel
@{ 
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "SaveDetailsData";
}

    <div class="crm-detailspage ">
        4
        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div>
                    <div class="col-md-3">
                        <label> Numero Preventivo </label>
                    </div>
                    <div class="col-md-3">
                        <label>Data</label>
                    </div>
                    <div class="col-md-3">
                        <label>Durata (gg)</label>
                    </div>
                    <div class="col-md-3">
                        <label>Listino in vigore</label>
                    </div>
                </div>

                <div>
                    <input class="col-md-3" type="text" name="NumeroPreventivo" value="@Model.NumeroPreventivo">
                    <input class="col-md-3" type="text" name="Data" value="@Model.Data">
                    <input class="col-md-3" type="text" name="Durata" value="@Model.Durata">
                    <input class="col-md-3" type="text" name="firstname">
                </div>

            </div>
            <br />

            <div class="row some-margin-top ">
                <div class="col-md-2">
                    <label> Oggetto</label>
                </div>
                <input class="col-md-10" type="text" name="Oggetto" value="@Model.Oggetto">
            </div>

            <div class="row some-margin-top ">
                <div class="col-md-2">
                    <label> Riferimento </label>
                </div>
                <input class="col-md-10" type="text" name="Referenza" value="@Model.Referenza">
            </div>
            <div class="row some-margin-top ">
                <div class="col-md-2">
                    <label> Allegati </label>
                </div>
                <input class="col-md-10" type="text" name="firstname">
            </div>
            <div class="row some-margin-top ">
                <div class="col-md-2">
                    <label> Progetto </label>
                </div>
                <input class="col-md-10" type="text" name="Progetto" value="@Model.Progetto">
            </div>


            <br />
            <div class="row">
                <div class="col-md-6">
                    <label> All'attenzione di </label>
                </div>
                <div class="col-md-6">
                    <label> Operatore </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="firstname">
                <select class="col-md-6 SelectionItem" id="country" name="Operatore">
                    <option> @Model.Operatore</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label> Addebito Trasporto </label>
                </div>
                <div class="col-md-4">
                    <label> Pagamento </label>
                </div>
                <div class="col-md-4">
                    <label> Consegna </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-4" type="text" name="AddebitoTrasportato" value="@Model.AddebitoTrasportato">
                <select class="col-md-4 SelectionItem" id="country" name="Pagamento">
                    <option> @Model.Pagamento</option>
                </select>
                <select class="col-md-4 SelectionItem" id="country" name="Consegna">
                    <option> @Model.Consegna</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label> Nota d'apertura </label>
                </div>
                <div class="col-md-6">
                    <label> Nota di chiusura </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="NotaApertura" value="@Model.NotaApertura">
                <input class="col-md-6" type="text" name="NotaChiusura" value="@Model.NotaChiusura">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label> Cartella  </label>
                </div>
                <div class="col-md-6">
                    <label> Numero commissione </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="Cartella" value="@Model.Cartella">
                <input class="col-md-6" type="text" name="NumeroCommissione" value="@Model.NumeroCommissione">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label> Data inizio lavori </label>
                </div>
                <div class="col-md-6">
                    <label> Referenza </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="DataInizioLavori" value="@Model.DataInizioLavori">
                <input class="col-md-6" type="text" name="Referenza" value="@Model.Referenza">
            </div>

            <div class=" row">
                <div class="col-md-6">
                    <label> Note Andamento </label>
                </div>

                <div class="col-md-6">
                    <label> Totali articoli listino </label>
                </div>

            </div>

            <div class="row">
                <textarea class="col-md-6 TextArea" type="text" name="NotaAndamento"></textarea>
                <input class="col-md-6" type="text" name="TotaleArticoliListino" value="@Model.TotaleArticoliListino €">
                <div class="col-md-6 pull-right">
                    <div class="col-md-12 row">
                        <label> Importo totale scontato </label>
                    </div>
                    <div class="col-md-12 row">
                        <input class="col-md-12" type="text" name="ImportoTotaleScontato" value="@Model.ImportoTotaleScontato €">
                    </div>
                    <div class="col-md-12 row">
                        <label> Sconto generale </label>
                    </div>
                    <div class="col-md-12 row ">
                        <input class="col-md-12" type="text" name="ScontoGenerale" value="@Model.ScontoGenerale %">
                    </div>

                </div>

            </div>
        }
    </div>


<script>

    
    $("#save").click(function ()
    {
        var detailsPreventive= $('#Form_').serializeFormJSON();       

        $.ajax({
            type: "POST",
            url: "@Url.Action(actionName,_pageParameters.ControllerName)",
            data: detailsPreventive,
            async: false,
            success: function () {
            }
            ,
            error: function ()
            {
            }

        }
            )
       
    });

</script>


