@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model PreventiveDetailsViewModel
@{
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "Details";
}

    <div class="crm-detailspage ">

        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>

        <input type="hidden" id="IdOfThisElement" value="@Model.IdPreventivo">

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="IdPreventivo"  value="@Model.IdPreventivo">

            <div class="row ">
                <div>
                    <div class="col-md-3">
                        <label> Numero Preventivo </label>
                    </div>
                    <div class="col-md-3 center">
                        <label>Data </label>
                    </div>
                    <div class="col-md-3 center">
                        <label>Durata (gg)</label>
                    </div>
                    <div class="col-md-3 center">
                        <label>Listino in vigore (€)</label>
                    </div>
                </div>

                <div>
                    <input class="col-md-3 ImportantData" type="text" name="NumeroPreventivo" value="@Model.NumeroPreventivo" >
                    <input class="col-md-3  "  type="text" name="Data" value="@Model.Data">
                    <input class="col-md-3 chg " type="number" min="0" name="Durata" value="@Model.Durata">
                    <input class="col-md-3 chg " type="number" min="0" name="ListinoInVigore" value="@Model.ListinoInVigore">
                </div>

            </div>
            <br />

            <div class="row  SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Oggetto</label>
                </div>
                <input class="col-md-10" type="text" name="Oggetto" value="@Model.Oggetto">
            </div>
            <br />
            <div class="row SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Riferimento </label>
                </div>
                <input class="col-md-10" type="text" name="Riferimento" value="@Model.Riferimento">
            </div>
            <br />
            <div class="row  SomeSpaceTop">
                <div class="col-md-2 LineBOt">
                    <label> Allegati </label>
                </div>
                <input class="col-md-10" type="text" name="Allegati" value="@Model.Allegati">
            </div>
            <br />
            <div class="row SomeSpaceTop ">
                <div class="col-md-2 LineBOt">
                    <label> Progetto </label>
                </div>
                <input class="col-md-10" type="text" name="Progetto" value="@Model.Progetto">
            </div>


            <br />
            <div class="row">
                <div class="col-md-6 ">
                    <label> All'attenzione di </label>
                </div>
                <div class="col-md-6 ">
                    <label> Operatore </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6 " type="text" name="Attenzione" value="@Model.Attenzione">
                <input class="col-md-6 " type="text" name="Operatore" value="@Model.Operatore">
            </div>

            @*<div class="row WithSpinner">
                <input class="col-md-6 " type="text" name="Selection">
                <div class="col-md-6">
                    <input type="hidden" id="#Id_" name="IdOperatore" value="@Model.IdOperatore">
                    <div class="col-md-9 MySelection Label">
                        NOME E COGNOME OPERATORE
                    </div>
                    <div class="col-md-3 MySelection Choose" onclick="DataForSelection(this, 'SELEZIONA L\'OPERTAORE', '@controllerName');">  SCEGLI </div>
                    <span style="    margin-left: 55px;" class="col-md-3 SpinnerNoPosition hide"> </span>
                </div>
            </div>*@

            <br />
            <div class="row">
                <div class="col-md-4 ">
                    <label> Addebito Trasporto </label>
                </div>
                <div class="col-md-4 center">
                    <label> Pagamento </label>
                </div>
                <div class="col-md-4 center">
                    <label> Consegna </label>
                </div>
            </div>
            <div class="row">
                <input class="col-md-4" type="text" name="AddebitoTrasportato" value="@Model.AddebitoTrasportato">
                <div class="CustomSelectionItem">
                    <select class="col-md-4 SelectionItem" id="country" name="Pagamento">
                        <option> @Model.Pagamento</option>
                        <option> DA CONCORDARE </option>
                        <option> EFFETTUATO </option>
                        <option> NON EFFETTUATO </option>
                    </select>
                </div>
                <div>
                    <select class="col-md-4 SelectionItem" id="country" name="Consegna">
                        <option> @Model.Consegna</option>
                        <option> DA CONCORDARE </option>
                        <option> EFFETTUATA </option>
                        <option> NON EFFETTUATA </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 ">
                    <label> Nota d'apertura </label>
                </div>
                <div class="col-md-6 ">
                    <label> Nota di chiusura </label>
                </div>
            </div>
            <div class="row">
                <input class="col-md-6" type="text" name="NotaApertura" value="@Model.NotaApertura">
                <input class="col-md-6" type="text" name="NotaChiusura" value="@Model.NotaChiusura">
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 ">
                    <label> Cartella  </label>
                </div>
                <div class="col-md-6 ">
                    <label> Numero commissione </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6" type="text" name="Cartella" value="@Model.Cartella">
                <input class="col-md-6" type="number" name="NumeroCommissione" value="@Model.NumeroCommissione">
            </div>

            <br />
            <div class="row">
                <div class="col-md-6 ">
                    <label> Data inizio lavori </label>
                </div>
                <div class="col-md-6 ">
                    <label> Referenza </label>
                </div>
            </div>

            <div class="row">
                <input class="col-md-6 chg" type="text" name="DataInizioLavori" value="@Model.DataInizioLavori">
               
                <input class="col-md-6" type="text" name="Riferimento" value="@Model.Referenza">
            </div>

            <br />
            <div class=" row">
                <div class="col-md-6 center">
                    <label> Note Andamento </label>
                </div>

                <div class="col-md-2 center">
                    <label> Totale(€)</label>
                </div>
                <div class="col-md-2 center">
                    <label> Totale scontato(€)</label>
                </div>
                <div class="col-md-2 center">
                    <label> Sconto (%)</label>
                </div>

            </div>

            <div class="row">
                <textarea class="col-md-6 TextArea" type="text" name="NoteAndamento"></textarea>
                <input class="col-md-2 ImportantData Inp chg" type="number" min="0" name="TotaleArticoliListino" value="@Model.TotaleArticoliListino">
                <input style="text-align:center;" class="col-md-2 ImportantData Dest " type="text" readonly min="0" name="ImportoTotaleScontato" value="@Model.ImportoTotaleScontato">
                <input id="StartPoint" class="col-md-2 ImportantData chg" type="number" min="0" max="100" name="ScontoGenerale" value="@Model.ImportoTotaleScontato">
            </div>

        }

    </div>

<style>
           
        

</style>

<script>

    
        $("#StartPoint").on("input", function (e) {
        CalculateDataUsingCustomInput($(this), CalculationType.PERCENTAGE);
        });
        $(".Inp").on("input", function (e) {
            var Closest = $(this).siblings('#StartPoint')[0];
            CalculateDataUsingCustomInput($(Closest), CalculationType.PERCENTAGE);
        });
 


    $(document).on('submit', '#Form_', function (e) {
        
    });
    

    $("#genera").click(function () {



        var detailsPreventive = $('#Form_').serializeFormJSON();
        GeneratePdfFromElementId($('#Form_'));

    });


</script>




