@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;

@model List<PreventiveViewModel>


@for (int x = 0; x < 10; x++)
{
    foreach (var item in Model)
    {
    <tr id="@x">
        <td>
            <div>@item.NumeroPreventivo</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Riferimento)</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Data)</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Listino) € </div>
        </td>

        <td class="cell-selection-item BiancoOpaco">
            <div style="display:inline-flex">
                <div class="detailsicon" title="Dettaglio"></div>
                <div class="removeicon" title="Rimuovi"></div>
            </div>
        </td>

    </tr>
    }
}
