@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model List<PreventiveViewModel>


@foreach (var item in Model)
{
    <tr id="@item.IdPreventivo">
        <td>
            <div>@item.NumeroPreventivo</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Riferimento)</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Data)</div>
        </td>
        @*<td>
            <div>@Html.DisplayFor(model => item.Listino) € </div>
        </td>*@

        <td class="cell-selection-item BiancoOpaco ">
            <div style="display:inline-flex">
                @Html.ActionLink(" ", "Details",
                        ControllerName.PreventiveController, 
                        new { id = item.IdPreventivo }, 
                        new { @class = "detailsicon", @title = "Dettaglio" })

                @*<div class="detailsicon" title="Dettaglio"></div>*@
                <div class="removeicon" title="Rimuovi"></div>
            </div>
        </td>

    </tr>
}
