.@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model CustomerDetailsViewModel
@{
    PageParameters _pageParameters = ViewBag.pageParameters;
    var controllerName = _pageParameters.ControllerName;
    var actionName = "Details";
}

    <div class="crm-detailspage ">

        <input type="hidden" id="_ControllerName" name="ControllerName" value="@controllerName">

        <div class="index-header">
            <span class="index-title no-padding  "> @_pageParameters.PageTitle </span>
        </div>

        <input type="hidden" id="IdOfThisElement" value="@Model.Id">

        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "Form_" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="IdCustomer" value="@Model.Id">

            <div class="col-md-12 GropDataDiv form-group b_Yellow">

                <span class=" col-md-12  GroupDataSpan b_Yellow_"> DATI GENERALI  </span>

                <br />
                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                RAGIONE SOCIALE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="RagioneSociale" value="@Model.RagioneSociale">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CODICE UNICLIIMA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="CodiceUniclima" value="@Model.CodiceUniclima">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CATEGORIA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Categoria" value="@Model.Categoria">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CLASSE </label>
                        </div>
                        <div>
                            <input class="col-sm-12 chg " type="number" min="0" name="Classe" value="@Model.Classe">
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                INDIRIZZO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Indirizzo" value="@Model.Indirizzo">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CITTA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Citta" value="@Model.Citta">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">PROVINCIA</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Provincia" value="@Model.Provincia">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CAP </label>
                        </div>
                        <div>
                            <input class="col-sm-12 chg " type="number" min="0" name="CAP" value="@Model.CAP">
                        </div>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                TELEFENO UFFICIO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="TelefonoUfficio" value="@Model.TelefonoUfficio">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CONTATTO
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Contatto1" value="@Model.Contatto1" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CELLULARE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Cellulare1" value="@Model.Cellulare1" />
                        </div>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                REFERENTE 1
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente1" value="@Model.Referente1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                REFERENTE 2
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente2" value="@Model.Referente2">
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                TELEFAX
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="Telefax" value="@Model.Telefax">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                EMAIL
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Email" value="@Model.Email" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                INDIRIZZO WEB
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="IndirizzoInternet" value="@Model.IndirizzoInternet" />
                        </div>
                    </div>
                </div>


                <br />


                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                CONSENSO DATI
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente1" value="@Model.ConsensoDati">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label class="col-sm-12">
                                FATTURATO GLOBALE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="Referente2" value="@Model.FatturatoGloable">
                        </div>
                    </div>
                </div>


            </div>


            <br />

            <div class="col-md-12 GropDataDiv form-group b_Green">
                <span class=" col-lg-12  GroupDataSpan b_Green_ "> DATI FISCALI  </span>

                <br />
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                BANCA
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12 " type="text" name="Banca" value="@Model.Banca">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                PARTITA IVA
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="P_Iva" value="@Model.P_Iva" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="col-sm-12">
                                CONTO CORRENTE
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="ContoCorrente" value="@Model.ContoCorrente" />
                        </div>
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">
                                IBAN
                            </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="text" name="IBAN" value="@Model.IBAN" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CIN</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="CIN" value="@Model.CIN" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">ABI</label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="ABI" value="@Model.ABI" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label class="col-sm-12">CAB </label>
                        </div>
                        <div>
                            <input class="col-sm-12" type="number" name="CAB" value="@Model.CAB" />
                        </div>
                    </div>
                </div>


            </div>
                <br />
                

                <div class="col-md-12 GropDataDiv form-group b_Blue">
                    <span class=" col-md-12  GroupDataSpan b_Blue_ "> ORGRANIZZAZIONE  </span>
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    FORNITORI
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="Fornitori" value="@Model.Fornitori">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    TITOLARI
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="Titolari" value="@Model.Titolari">
                            </div>
                        </div>
                    </div>


                    <br />
                    


                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    SOCI
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="Soci" value="@Model.Soci">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    SEGRETARI
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="Segretari" value="@Model.Segretari">
                            </div>
                        </div>
                    </div>



                    <br />

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    AMMINISTRATIVI
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="Amministrativi" value="@Model.Amministrativi">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <label class="col-sm-12">
                                    UFFICIO TECNICO
                                </label>
                            </div>
                            <div>
                                <input class="col-sm-12" type="text" name="UfficioTecnico" value="@Model.UfficioTecnico">
                            </div>
                        </div>
                    </div>



                </div>
       }

            </div>