@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;

@model List<CustomerViewModel>


<table id="index-table" class=" table-for-information SmallText">

    <thead>
        <tr class="table-for-information-partial-index">
            <th>@Html.DisplayNameFor(x => Model[0].Nome)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Email)</th>
            <th>@Html.DisplayNameFor(x => Model[0].ContattoDiRiferimento)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Classe)</th>
            <th>@Html.DisplayNameFor(x => Model[0].Ditta)</th>
            <th>@Html.DisplayNameFor(x => Model[0].CittaDitta)</th>
            <th class="cell-selection-item"></th>
        </tr>
    </thead>

    <tbody id="InformationContainer">
        @{Html.RenderPartial("PartialInformationContainer", Model);}
    </tbody>

</table>

