@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;
@using Crm_Global;

@model List<CustomerViewModel>

@*@{
    var item = Model[0];
}*@



@foreach (var item in Model)
    {
    <tr id="@item.IdCliente" onclick="OpenDialogWithDetails(@item)">

        <td>
            <div>@item.Nome</div>
        </td>
        <td>
            <div>@Html.DisplayFor(model => item.Email)</div>
        </td>


        <td>
            <div>@Html.DisplayFor(model => item.CittaDitta) </div>
        </td>

        <td>
            <div>@Html.DisplayFor(model => item.TelefonoUfficio) </div>
        </td>

        <td class="cell-selection-item BiancoOpaco">
            <div style="display:inline-flex">
                @Html.ActionLink(" ", "Details",
                        ControllerName.CustomerController,
                        new { id = item.IdCliente },
                        new { @class = "detailsicon", @title = "Dettaglio" })

                @*<div class="detailsicon" title="Dettaglio"></div>*@
                <div class="removeicon" title="Rimuovi"></div>
            </div>
        </td>

    </tr>
}


<script>

    function MoveDiv()
    {
        $('#a_').animate({
            'marginLeft': "-=70px" //moves left
        });

        $('#a_').animate({
            'marginLeft': "+=70px" //moves left
        });
    }

</script>

 