<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crm </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>


<body> 


    <nav class="col-md-12">
        <ul style="float:left">
            <li>
                <a href="/Home">HOME</a>
            </li>
            <li>
                <a href="">AMMINISTRAZIONE</a>
                <ul>
                    <li> @Html.ActionLink("PREVENTIVI", "Index", "Preventive")</li>
                    <li> @Html.ActionLink("ORDINI", "Index", "Order")</li>
                </ul>
            </li>
            <li >
                <a href="">GESTIONE</a>
                <ul>
                    <li> @Html.ActionLink("PREVENTIVI", "Index", "Preventive")</li>
                    <li> @Html.ActionLink("ORDINI", "Index", "Order")</li>
                </ul>
            </li>
        </ul>
    </nav>



    <div class=" container_ body-content ">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
