@using Crm_Global;
@using Crm_DataUtilities.ViewModel;


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crm </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>


<body>

    <div class="document-container body-content">
            <nav >
                <ul style="float:left">
                    <li>
                        <a href="/Home">HOME</a>
                    </li>
                    <li>
                        <a>AMMINISTRAZIONE</a>
                    <li>
                        <a>GESTIONE</a>
                        <ul>
                            <li> @Html.ActionLink("PREVENTIVI", "Index", "Preventive")</li>
                            <li> @Html.ActionLink("ORDINI", "Index", "Order")</li>

                        </ul>
                    </li>
                </ul>
            </nav>


            <div id="HeaderInformation" >

                @{
                    PageParameters _pageParameters = ViewBag.pageparameters; }

                    @Html.Partial("PartialMenuIndex", (PageParameters)_pageParameters)

                @if (_pageParameters.HasScrollButton)
                {<div onclick="topFunction()" id="btn_scrolltop" class="go_top_button"></div>}
            </div>

            <div class="render-body-zone">
                @RenderBody()
            </div>

    </div>


</body>
</html>
