<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crm </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>


<body>

    @* Inserire un immagine al posto del tasto home, rivedere la navigation bar*@

    @*<div class="my-nav-bar_" id="navigation_">
                <ul >
                    <li style="float:left"> <a style="text-decoration:none;" href="Home">HOME</a></li>
                    <li style="text-decoration:none" >
                        GESTIONE
                        <ul>
                            <a style="text-decoration:none" @Html.ActionLink("PREVENTIVI", "Index", "Preventive")</a>
                            <a style="text-decoration:none" @Html.ActionLink("ORDINI", "Index", "Order")</a>
                        </ul>
                    </li>
                    <li >
                        AMMINISTRAZIONE
                    </li>
                </ul>
        </div>*@

    <nav class="col-md-12">
        <ul style="float:left">
            <li>
                <a href="/Home">HOME</a>
            </li>
            <li>
                <a href="">AMMINISTRAZIONE</a>
            </li>
            <li>
                <a href="">GESTIONE</a>
                <ul>
                    <li> @Html.ActionLink("PREVENTIVI", "Index", "Preventive")</li>
                    <li> @Html.ActionLink("ORDINI", "Index", "Order")</li>
                </ul>
            </li>
        </ul>



    </nav>


    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 
            </button>
        </div>
    </div>





    <div class="container body-content">

        @RenderBody()

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
