@using Crm_DataUtilities.Repository;
@using Crm_DataUtilities.ViewModel;

@model List<ProductionSituationModel>

@{

    
    string[] color = new string[] { "#e84685", "red", "#ec802b", "#f3b639" };

}

<style>

   singeMachineData >div{
       border:@color[0];
   }

</style>

<div class="mydiv">

    <div style="background-color:@color[0]" class="labelMachineName1"> <b> @Model[0].machineName </b> </div>
    <div style="background-color:@color[1]" class="labelMachineName2"><b> @Model[1].machineName </b> </div>
    <div style="background-color:@color[2]" class="labelMachineName3"><b> @Model[2].machineName </b> </div>
    <div style="background-color:@color[3]" class="labelMachineName4"><b> @Model[3].machineName </b> </div>

    <div class="productionDataContainer col-md-12">
        @{
            int i = 0;
            foreach (ProductionSituationModel item in Model)
            {
                <style>
                    .machineNameSpan {
                    
                    border-bottom: 2px solid ;
                }
                    .nameContainer > input{
                border:1px dashed @color[i];
                }

                </style>

                <div style="border : 4px solid @color[i];" class=" col-md-12  singleMachineData form-group">
                    <div style="margin-top:2px;" class="row">

                        <b style="background-color:@color[i]" class="col-md-4 machineNameSpan "> @item.machineName  </b>

                        <div class="col-md-2">
                                @switch (item.machineStateDescription)
                                {

                                    case "On":<div class="isWorkingCell" style="text-align:center; padding-top:3px;"> ON</div> break;
                                    case "Off": <div class="isStoppedCell" style="text-align:center; padding-top:3px;"> OFF</div>break;
                                    case "Error": break;
                                    case "Working": break;
                                }

                        </div>

                        @if (item.machineStateDescription != "Off")
                        {
                            <div class="col-md-6">
                                <div  class="productNameLabel">
                                    <i> LAVORANDO:  @item.productName </i>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <div class="productNameLabel">
                                    <i> ATTVITA' INTERROTTA</i>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-md-5 noMargin canvasContainer">
                        <canvas style=" margin-top: 10px;" class="myCanvas" id="chart-area1__@item.idStage">  </canvas>
                        <canvas class="myCanvas" id="chart-area__@item.idStage"> </canvas>                        
                    </div>
                    
                           <div class="dataheader noMargin col-md-offset-8">
                               <div style="background-color:@color[i]" class="col-md-12 noMargin userContainer ">
                                   <div style="margin-bottom:5px;" class="col-md-12">
                                       <b class="userTitleStyle col-md-12 "> OPERATORI  </b>
                                   </div>
                                   @if (item.machineStateDescription != "Off")
                                   {
                                       <div class="col-md-12  nameContainer">
                                           @if (item.users != null)
                                            {
                                               foreach (var u in item.users)
                                               {
                                                   <input style="margin-bottom:10px;" class="col-md-12 " type="text" readonly value="@u.Name @u.Cognome" />
                                               }
                                            }

                                       </div>
                                      }
                                   </div>
                        </div>                    
                    
                </div>
                
                <script>
                    addPieChart('chart-area__' +@item.idStage, @item.badProductValue, @item.niceProductValue,'@color[i]');
                    addBarChart('chart-area1__' +@item.idStage, @item.totalProduction, '@color[i]')
                </script>                
                i++;
            }

        }
    </div>

</div>


<script>
    var ControllerName = GetControllerName();
    var Url = "/" + ControllerName + "/ReloadData";
    var color = ['#e84685', 'red', '#ec802b', '#f3b639'];
       
    get_fb();
    
    function get_fb() {
        var feedback = $.ajax({
            type: "POST",
            url: Url,
            async: false
        }).success(function (res) {

            showData(res);
            setTimeout(function () { get_fb(); }, 20000);

        });
    }

    function showData(data) {

        for (var i = 0; i < data.length; i++) {

            var e = data[i].datatoshow;
            var idStage_ = e.idStaege;
            var totalValue = e.totalProduction;
            var badProductValue = e.badProductValue;
            var niceProductValue = e.niceProductValue;

            var prefixIdPieChart = 'chart-area__' + idStage_;
            var prefixIdBarChart = 'chart-area1__' + idStage_;

            addPieChart(prefixIdPieChart,badProductValue, niceProductValue,color[i]);
            addBarChart(prefixIdBarChart, totalValue, color[i]);

        }
    }


</script>
